
{% extends 'base.html' %}
{% block title %}
Templates
{% endblock %}


{% load static %}

  {% block style %}
  <link rel="stylesheet" type="text/css" href="{% static "style2.css" %}">
  {% endblock %}



{% block content %}
{% include 'nav.html' %}
<h1>Templates</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. :
    <ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <p>&#123;% Lorem ipsum dolor sit amet, consectetur adipiscing elit. %&#125;</p> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> <p>&#123;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&#125;</p> </li>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. &#123;% Lorem ipsum dolor sit amet, consectetur adipiscing elit. %&#125;</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    </ul>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. :
     <ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. &#123;&#123; Lorem ipsum dolor sit amet, consectetur adipiscing elit. &#125;&#125;</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. &#123;% Lorem ipsum dolor sit amet, consectetur adipiscing elit. %&#125;</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. &#123;% Lorem ipsum dolor sit amet, consectetur adipiscing elit.&#125;</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. &#123;% Lorem ipsum dolor sit amet, consectetur adipiscing elit. %&#125;</li>
    </ul>
</p>
<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h2>

{% endblock %}
