<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{name} CV</title>
		<meta charset='UTF-8'>
	</head>
	<body style="background-color:powderblue;">
		<div>
			<h1 style="font-family:verdana;">{name} CV</h1>
			<p>
				Firstname: {firstname}<br>
				Lastname: {name}
			</p>
			<br>
			<br>
			<p>
				Age: {age}<br>
				Job: {job}
			</p>
		</div>
	</body>
</html>
